@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:
		url('../fonts/Open_Sans_400.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src:
		url('../fonts/Open_Sans_600.woff2') format('woff2');
}


@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src:
		url('../fonts/Open_Sans_700.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src:
		url('../fonts/Open_Sans_400italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src:
		url('../fonts/Open_Sans_600italic.woff2') format('woff2');
}


@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src:
		url('../fonts/Open_Sans_700italic.woff2') format('woff2');
}
